package view

import "apallis/portfolio/view/layouts"

templ Dashboard() {
	@layouts.Base("Dashboard") {
		@layouts.Menu()
		<div class="dashboard container is-fluid">
			<div class="columns">
				<div class="column is-one-fifth">
					@layouts.Sidebar()
				</div>
				<div class="column">
					<div class="container content is-fullhd">
                        { children... }
					</div>
				</div>
			</div>
		</div>
	}
}
