package layouts

templ Sidebar() {
	<aside class="menu">
		<p class="menu-label">
			Dashboard
		</p>
        <ul class="menu-list">
            <li><a href="/dashboard">Projects</a></li>
            <li><a href="/images/index">Images</a></li>
        </ul>
	</aside>
}
